@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lato:wght@400;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {

font-family: "Poppins", "Roboto", sans-serif;

}
.row__nav--row {
    padding-top: 36px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;
    padding-left: 48px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.nav__logo {
   display: flex;
}
.nav__logo--img {
    height: 42px;
}

.nav__logo--title {
    font-size: 28px;
    padding-left: 16px;
    font-weight: 700;
}
a {
    text-decoration: none;
}
.nav__links{
    justify-content: space-between;
}
.nav__link {
    color: black;
    position: relative;
    margin: 24px;
}
.nav__link:after {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -6px;
    background: black;
    content: "";
    opacity: 0;
    transition: all 300ms ease;
}
.nav__link:hover:after {
    opacity: 1

}

#sign__up {
    background-color: rgb(101, 36, 230);
    border-radius: 8px;
   padding: 12px 12px;
    border: none;
}
#sign__up:hover {
    cursor: pointer;
}
.sign__up--text {
    color: white;
    position: relative;

}
.sign__up--text:hover:after {
    opacity: 1;
    cursor: pointer;
}

.sign__up--text:after {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 10px;
    background-color: rgb(252, 251, 251);
    content: "";
    opacity: 0;
    transition: all 300ms ease;
    
}



/*FOR YOU*/

.purple {
    color: rgb(101, 36, 230);
}
.for__you--wrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.row__for--you {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
   padding-left: 48px;
}
h1 {
    font-size: 40px;
}
.text__for--you {
padding-bottom: 36px;
font-size: 16px;
}

.trusted__customers {
    padding-top: 36px;
    font-size: 14px;
    color: gray;
}
.trusted__customers--img {
    height: 36px;
    opacity: 0.5;
}
.for__you--img {
    padding: 200px;
    height: 600px; 
}

#email {
    height: 40px;
    width: 200px;
    border-radius: 16px;
    background-color: rgb(230, 241, 251);
    border: none;
}

.get__started {
    border-radius: 16px;
    background-color: rgb(101, 36, 230);
    color: white;
    border: none;
    z-index: 2;
    height: calc(100% - 20px);
    margin: 8px;
}
.input__button--wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 70px;
}
.header__email--input {
    height: 56px;
    border-radius: 16px;
    border: none;
    background-color: aliceblue;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 8px;
}
/*FEATURES*/

.features__wrapper {
    margin: 0 auto;
    display: flex;  
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}
.row__features--heading {
    align-items: center;
    text-align: center;
}
.small__headline {
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
}

.subheading {
    font-size: 56px;
}

.features__latin--subheading {
    color: gray;
    max-width: 600px;
    text-align: center;
    align-items: center;
}

.features__icons {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    padding: 100px;
}

.shield {
    border: solid 1px;
    border-color: rgb(187, 183, 183);
    border-radius: 50%;
    padding: 20px;
}

.secure {
    width: 360px;
    max-width: 400px;
    flex-wrap: wrap;
    display: flex;
    padding: 24px 24px;
}

.secure__headline {
    font-size: 24px;
   text-align: left;
}

.icons__latin {
    color: gray;
    width: 240px;
}

/*QUALITY WORK*/

.small__headline {
    font-weight: 500;
}

.quality__work--latin {
    color: gray;
}

.row__quality--work {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    
}
.container__text--quality--work {
    max-width: 600px;

}

#learn__more {
    background-color: rgb(101, 36, 230);
    color: white;
    padding: 12px;
    border-radius: 16px;
    border: none;
    width: 120px;
}
.img__quality--work {
    padding-left: 100px;
    border: solid 1px;
    border-color: rgb(199, 197, 197);

}
.hero__screenshot--1 {
    max-width: 500px;
    max-height: fit-content;
    padding-right: 100px;
}

/*STEPS*/

.row__steps {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 210px;
    display: flex;
    align-items: center;
}

.steps__list {
    font-size: 36px;
    color: rgb(220, 216, 216);
    font-weight: 700;
}
.ol_headlines {
    color: rgb(31, 29, 29);
    font-size: 20px;
    padding-left: 16px;
    font-weight: 500;
}
.ol__text {
    color: rgb(162, 160, 160);
    font-size: 16px;
    font-weight: 300;
    padding-left: 16px;
}

/*VALUES*/
.values {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;

}
.row__values {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.container__steps--text {
  max-width: 600px;
}
.values__flexbox{
    display: flex;
}
.affordable__row {
    display: flex;
}

.professionalism__row {
    display: flex;
}

.values__headlines {
    font-size: 24px;
    font-weight: 510;
    color: rgb(74, 73, 73);
    padding-left: 16px;
}
.affordable__text {
    color: gray;
    padding-bottom: 60px;
}
.values__img {
    height:500px;

}
.professionalism__flexbox {
    padding-left: 24px;
}

/*PRICING*/

.container__pricing--text {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}
