@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lato:wght@400;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Poppins", "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  section {
    padding-bottom: 100px;
  }
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.row__nav--row {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
}
.nav__logo--img {
  height: 42px;
}

.nav__logo--title {
  font-size: 28px;
  padding-left: 16px;
  font-weight: 700;
}
a {
  text-decoration: none;
}
.nav__links {
  justify-content: right;
}
.nav__link {
  color: black;
  position: relative;
  margin: 24px;
}
.nav__link:after {
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -6px;
  background: black;
  content: "";
  opacity: 0;
  transition: all 300ms ease;
}
.nav__link:hover:after {
  opacity: 1;
}

#sign__up {
  background-color: rgb(101, 36, 230);
  border-radius: 8px;
  padding: 12px 12px;
  border: none;
  transition: 300ms ease;
}
#sign__up:hover {
  cursor: pointer;
  background-color: rgb(164, 44, 238);
}
.sign__up--text {
  color: white;
  position: relative;
}
.sign__up--text:hover:after {
  opacity: 1;
  cursor: pointer;
}

.sign__up--text:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 300ms ease;
}

/*FOR YOU*/

.purple {
  color: rgb(101, 36, 230);
}
.for__you--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 60px;
}
.row__for--you {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-between;
}
h1 {
  font-size: 40px;
}
.text__for--you {
  padding-bottom: 36px;
  font-size: 16px;
}

.trusted__customers {
  padding-top: 36px;
  font-size: 14px;
  color: gray;
}
.trusted__customers--img {
  height: 36px;
  opacity: 0.5;
}
.for__you--img {
  width: 55%;
}

#email {
  height: 40px;
  width: 200px;
  border-radius: 16px;
  background-color: rgb(230, 241, 251);
  border: none;
}

.get__started {
  border-radius: 16px;
  background-color: rgb(101, 36, 230);
  color: white;
  border: none;
  z-index: 2;
  height: calc(100% - 20px);
  margin: 8px;
  padding: 16px;
  transition: 300ms ease;
}
.get__started:hover {
    cursor: pointer;
    background-color:rgb(164, 44, 238) ;

}
.input__button--wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 70px;
  align-items: center;
}
.header__email--input {
  border-radius: 16px;
  border: none;
  background-color: aliceblue;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 8px;
}
/*FEATURES*/


.features__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 80px;
}
.row__features--heading {
  align-items: center;
  text-align: center;
}
.small__headline {
  font-size: 20px;
  align-items: center;
  margin: 0 auto;
}

.subheading {
  font-size: 56px;
}

.features__text--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features__latin--subheading {
  color: gray;
  max-width: 600px;
  margin: 0 auto;
}

.features__icons--wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
}

.features__icons {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 48px auto;
  width: calc(100%/3);
  max-width: 70%;
  flex-direction: row;
}

.shield {
  border: solid 1px;
  border-color: rgb(187, 183, 183);
  border-radius: 50%;
  padding: 20px;
  margin-right: 12px;
}

.secure {
  max-width: 400px;
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
}

.secure__headline {
  font-size: 24px;
  text-align: left;
}

.icons__latin {
  color: gray;
  max-width: 100%;
  text-align: left;
}

/*QUALITY WORK*/

#quality-work .row {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 240px;
}

.small__headline {
  font-weight: 500;
}

.quality__work--latin {
  color: gray;
  margin-bottom: 48px;
}

.row__quality--work {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 50%;
}
.container__text--quality--work {
  width: 100%;
}

#learn__more {
  background-color: rgb(101, 36, 230);
  color: white;
  padding: 12px;
  border-radius: 16px;
  border: none;
  width: 120px;
  transition: 300ms ease;
}
#learn__more:hover {
    background-color: rgb(164, 44, 238);
    cursor: pointer;
}
.img__quality--work {
  width: 50%;
  border: solid 1px rgb(209, 207, 207);
}
.hero__screenshot--1 {
  width: 100%;
}

/*STEPS*/

.row__steps {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding-bottom: 240px;

}
.container__steps--img {
    width: 45%;
    
}
.container__steps--text {
    width: 45%;
    padding-left: 60px;
}
.steps__list {
  font-size: 36px;
  color: rgb(220, 216, 216);
  font-weight: 700;
}
.ol_headlines {
  color: rgb(31, 29, 29);
  font-size: 20px;
  padding-left: 16px;
  font-weight: 500;
}
.ol__text {
  color: rgb(162, 160, 160);
  font-size: 16px;
  font-weight: 300;
  padding-left: 16px;
}

/*VALUES*/
.values {
  display: flex;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  padding-bottom: 240px;
}
.row__values {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding-right: 100px;
}

.container__steps--text {
  width: 50%;
}
.values__flexbox {
  display: flex;
}
.affordable__row {
  display: flex;
}

.professionalism__row {
  display: flex;
}

.values__headlines {
  font-size: 24px;
  font-weight: 510;
  color: rgb(74, 73, 73);
  padding-left: 16px;
}
.affordable__text {
  color: gray;
  margin-bottom: 60px;
}
.affordable__icon {
  border: none;
  background-color: rgb(158, 227, 158);
  border-radius: 50%;
  padding: 8px 8px;
}

.briefcase__icon {
  border: none;
  background-color: rgb(239, 163, 121);
  border-radius: 50%;
  padding: 8px 8px;
}

.values__img {
  width: 45%;
}
.professionalism__flexbox {
  margin-left: 24px;
}

/*PRICING*/
.row__pricing {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}
.container__pricing--text {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.pricing__latin {
  width: 100%;
  max-width: 700px;
  color: gray;
}
.container__pricing--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 60px;
}

.personal,
.enterprise {
  border: solid 1px rgb(224, 223, 223);
  padding: 36px 72px;
  border-radius: 16px;
}
.personal {
  border-top: solid 12px radial-gradient(rgb(5, 224, 202), rgb(177, 237, 237));
}
.enterprise {
  border-top: solid 12px radial-gradient(rgb(217, 95, 43), rgb(247, 210, 167));
}
.business {
  border: none;
  padding: 36px 72px;
  border-radius: 16px;
  background: radial-gradient(rgb(63, 108, 204), rgb(121, 148, 207));
  color: white;
}


.personal__headline,
.business__headline {
  font-size: 24px;
  font-weight: 600px;
  margin-bottom: 24px;
}

.personal__price,
.business__price {
  font-size: 48px;
  margin-bottom: 20px;
}

.personal__monthly,
.business__monthly {
  margin-bottom: 80px;
}

.individuals,
.businesses,
.companies {
  font-size: 20px;
  margin-bottom: 20px;
}
.individuals {
    padding: 0 24px;
}
.for__individuals,
.for__businesses {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 80px;
}

.personal__buy--now,
.business__buy--now,
.enterprise__buy--now {
  padding: 16px 48px;
  border-radius: 16px;
  border: none;
}

.personal__buy--now {
  background: radial-gradient(rgb(5, 224, 202), rgb(177, 237, 237));
  color: white;
}

.business__buy--now {
  color: blueviolet;
}

.enterprise__buy--now {
  background: radial-gradient(rgb(241, 111, 55), rgb(248, 198, 141));
  color: white;
}

/*TESTIMONIALS*/

.fas fa-star {
  color: gold;
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
}
.row__testimonials {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.wrapper__testimonial--img{
    width: 40%;
}
.testimonials__img {
  width: 100%;
}

.container__testimonials {
  width: 55%;
}

.testimonials__latin {
    color: rgb(55, 55, 55);
    margin-top: 24px;
    margin-bottom: 36px;
}
.testimonial__rating {
    color: gold;
}
.rating__headline {
    font-size: 20px;
    color: rgb(53, 53, 53);
    margin-bottom: 24px;
}
.charlotte__row {
    display: flex;
    align-items: center;
}
.headshot {
  height: 72px;
  border-radius: 50%;
  margin-top: 24px;
  margin-right: 24px;
}
.name {
 color: rgb(53, 53, 53);   
}
.name__row {
    flex-direction: column;
}

.arrows {
    margin-left: 200px;
}

.fa-solid {
    padding: 16px;
    border-radius: 50%;
    background-color: rgb(202, 197, 197);
}

.fa-solid:hover {
    cursor: pointer;
    color: white;
}

/*PENULTIMATE*/
#penultimate {
    padding: 12px 24px;
}
.penultimate__box {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    background-color: rgb(101, 36, 230);
    padding: 70px 48px;
    color: white;
    text-align: center;
    border-radius: 16px;
}
.headline__wrapper {
    width: 50%
}
.penultimate__headline {
    font-size: 30px;
}
.penultimate__buttons {
    display: flex;
    align-items: center;
}

penultimate__button {
    pading: 8px 36px;
}
.penultimate__get--started {
    background-color: rgb(240, 68, 68);
    border: none;
    color: white;
    padding: 0 36px;
    border-radius: 16px;
    margin-right: 16px;
}
.contact__us {
    background-color: rgb(101, 36, 230) ;
    border: solid 1px white;
    padding: 0 36px;
    border-radius: 16px;
    color: white;
}
.penultimate__get--started:hover {
background-color: red;
}
.contact__us:hover {
    background-color: white;
    color: rgb(101, 36, 230);
}

/*footer*/

#footer {
    background-color: rgb(101, 36, 230);
    color: white;
}
.container__links {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 60px 0;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links__headlines {
    font-size: 18px;
}
.footer__row {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.treact {
    display: flex;
    align-items: center;
}
.treact__logo--light {
    height: 36px
}
.treact__inc {
    font-size: 24px;
    padding-left: 8px;
}

.fa-brands {
    padding: 16px;
}


/*for tablets */
@media (max-width: 1200px) {
    .features__icons {
        width: 50%
    }
    .icons__latin {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 855px) {
    #quality-work {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .quality-container{}
}
@media (max-width: 830px) {
    .features__icons {
        width: 100%;
        margin: 12px 0;
    }
.secure {
    flex-direction: column;
    align-items: center;
}
.features__icons--wrapper {
    justify-content: center;
}
.secure__headline {
    margin: 0 auto;
}
.shield {
    margin-right: 0;
}
}


@media (max-width: 800px) {
    .for__you--wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    }
    .row__for--you {
        width: 100%;
        padding: 24px;
    }
}
.fa-bars {
    display: none; /* Hidden by default */
    font-size: 30px;
    color: rgb(101, 36, 230);;
    cursor: pointer;
}
.row__values {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .nav__links {
        display: none; /* Hide links by default */
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 60px; /* Position below the navbar */
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .nav__links.active {
        display: flex; /* Show links when active */
    }

    .fa-bars{
        display: block; /* Show hamburger icon */
        
    }
    .row__testimonials {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .penultimate__box {
        justify-content: center;
    }
}
@media (max-width: 550px) {
    .row__steps {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 auto;
        margin-left: 0;
        width: 100%;
    }
     .container__steps--text {
        width: 100%;
        padding: 16px;
    }
    .container__pricing--text {
        padding: 16px;
    }
    .charlotte__row {
        display: flex;
        flex-wrap: wrap;

    }
    .arrows {
        padding: 0;
    }
    .links__headlines {
        font-size: smaller;
    }
    .links {
        font-size: smaller;
    }
}
@media (max-width: 484) {
    .values__flexbox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .features__icons {
        width: 100%;
        width: calc(100%/6);
        padding: 16px;
    }
    .container__steps--text {
        width: 100%;
        padding: 16px;
    }
    #pricing { 
        padding: 16px

}
.container__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   align-items: center;
   text-align: center;
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}




