@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Lato:wght@400;700&family=Poppins:wght@400;500;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.row__nav--row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav__logo {
   display: flex;
}
.nav__logo--img {
    height: 50px;
}

.nav__logo--title {
    font-size: 50px;
    padding-left: 16px;
    font-weight: 700;
}
.nav__links{
    justify-content: space-between;
}
.nav__link {
    text-decoration: none;
    color: black;
    padding: 0 24px;
}

.nav__link:hover,
.sign__up--text:hover {
    cursor: pointer;
    text-decoration: underline;
   
}

#sign__up {
    background-color: rgb(101, 36, 230);
    border-radius: 8px;
    padding: 12px 12px;
    border: none;
}

.sign__up--text {
    color: white;
    text-decoration: none;
}

/*FOR YOU*/

.purple {
    color: rgb(101, 36, 230);
}
.for__you--wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}
.row__for--you {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 36px;
}
h1 {
    font-size: 56px;
}
.for__you--img {
height: 600px;   
}
.text__for--you {
padding-bottom: 36px;
font-size: 20px;
}

.trusted__customers {
    padding-top: 36px;
    font-size: 14px;
    color: gray;
}